@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@keyframes float {
    0%, 100% { transform: translateY(0) scale(1); box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); }
    50% { transform: translateY(-5px) scale(1.2); box-shadow: 0 8px 25px rgba(255, 127, 127, 0.5); }
  }
  .animate-float {
    animation: float 1.5s ease-in-out 3.5s infinite;
  }